<h1>Editing Accommodation</h1>

<%= render 'form', accomodation: @accomodation %>

<br>

<%= link_to 'Show', @accomodation, class: "btn btn-warning btn-sm" %> |
<%= link_to 'Back', accomodations_path, class: "btn btn-warning btn-sm" %>
