<h1>Editing Team</h1>

<%= render 'form', team: @team %>

<br> <br> <br>

<h6>Notes from this Team's First Event</h6>
<%= @team.events.first.notes if @team.events.first %>

<br> <br> <br>

<%= link_to 'Show', @team,      class: 'btn btn-warning btn-sm' %> |
<%= link_to 'Back', teams_path, class: 'btn btn-warning btn-sm' %>
