<div class="nested-fields">
  <%= f.label :note %>
  <%= f.text_area :note %>

  <%= f.check_box :_destroy %>

  <%= link_to_remove_association "remove note", f, class: 'btn btn-danger btn-sm' %>
</div>
