<h1>Editing Discussion</h1>

<%= render 'form', discussion: @discussion %>

<br>

<%= link_to 'Show', @discussion, class: 'btn btn-warning btn-sm' %> |
<%= link_to 'Back', discussions_path, class: 'btn btn-warning btn-sm' %>
