<p id="notice"><%= notice %></p>

<h1>Discussions</h1>

<% @allOn = true %>
<%= render 'events/discussion_index' %>

<br>

<!-- the link is part of events/discussion_index so it's not necessary here  -->
<!-- = link_to 'New Discussion', new_discussion_path, class: 'btn btn-primary btn-sm' %>  -->

<br> <br> <br>
