<p id="notice"><%= notice %></p>

<h1>Discussions</h1>

<% @allOn = true %>
<%= render 'events/discussion_index' %>

<br>

<%= link_to 'New Discussion', new_discussion_path, class: 'btn btn-primary btn-lg' %>

<br>
<br>
<br>
