<h1>Editing Task Type</h1>

<%= render 'form', task_type: @task_type %>

<br>

<%= link_to 'Show', @task_type, class: 'btn btn-warning btn-sm' %> |
<%= link_to 'Back', task_types_path, class: 'btn btn-warning btn-sm' %>
