<p id="notice"><%= notice %></p>

<% @buttons = true %>

<% if params[:festival_id].present? %>

    <% festival_id = params[:festival_id] %>
    <% @festival = @festivals.where(id: festival_id).first %>
    <% @musicians = @festival.musicians.distinct.includes(:instrument).order('instruments.order') %>
    <h3> <%= @festival.name %> Musicians and Staff</h3>

<% else %>

    <% @musicians = Musician.all.order(:last, :first) %>
    <h3>All Musicians and Staff</h3>

<% end %>

<%= render '/musicians/active_musician_index' %>

<br>

<%= link_to 'New Musician', new_musician_path, class: 'btn btn-primary btn-lg' %>
