<p id="notice"><%= notice %></p>

<h1>Festival Musicians and Staff</h1>
<% @buttons = true %>
<% @festival = @festivals.where(id: 2).first %>
<% @musicians = @festival.musicians.distinct.includes(:instrument).order('instruments.order') %>
<%= render '/musicians/active_musician_index' %>

<br>

<%= link_to 'New Musician', new_musician_path, class: 'btn btn-primary btn-lg' %>
