<h1>Editing Sheet</h1>

<%= render 'form', sheet: @sheet %>

<br>

<%= link_to 'Show', @sheet, class: 'btn btn-warning btn-sm' %> |
<%= link_to 'Back', sheets_path, class: 'btn btn-warning btn-sm' %>
