<h1>Editing Composer</h1>

<%= render 'form', composer: @composer %>
<br>
<%= link_to 'Show', @composer, class: 'btn btn-warning btn-sm' %> |
<%= link_to 'Back', composers_path, class: 'btn btn-warning btn-sm' %>
