<h1>Events</h1>

    <table class='table table-hover'>
      <thead>
	<tr>
	  <th>name</th>
	  <th>Start</th>
	  <th>End</th>
	  <th>Type</th>
	  <th>Location</th>
	  <th>Notes</th>
	</tr>
      </thead>

      <tbody>
	<div hidden>
	<tr>
	  <td>Fable</th>
	  <td>b</th>
	  <td>c</th>
	  <td>d</th>
	  <td>e</th>
	  <td>f</th>
	</tr>
	<tr>
	  <td>baker</th>
	  <td>b</th>
	  <td>c</th>
	  <td>d</th>
	  <td>e</th>
	  <td>f</th>
	</tr>
	<tr>
	  <td>charlie</th>
	  <td>b</th>
	  <td>c</th>
	  <td>d</th>
	  <td>e</th>
	  <td>f</th>
	</tr>
	</div>

	<div>
	<tr>
	  <td>Able</th>
	  <td>b</th>
	  <td>c</th>
	  <td>d</th>
	  <td>e</th>
	  <td>f</th>
	</tr>
	<tr>
	  <td>Baker</th>
	  <td>b</th>
	  <td>c</th>
	  <td>d</th>
	  <td>e</th>
	  <td>f</th>
	</tr>
	<tr>
	  <td>Charlie</th>
	  <td>b</th>
	  <td>c</th>
	  <td>d</th>
	  <td>e</th>
	  <td>f</th>
	</tr>
      </tbody>
    </table>
