<h1>Editing Event Team</h1>

<%= render 'form', event_team: @event_team %>

<%= link_to 'Show', @event_team, class: 'btn btn-warning btn-sm' %> |
<%= link_to 'Back', event_teams_path, class: 'btn btn-warning btn-sm' %>
