<h1>Editing Airline</h1>

<%= render 'form', airline: @airline %>

<%= link_to 'Show', @airline, class: 'btn btn-warning btn-sm' %> |
<%= link_to 'Back', airlines_path, class: 'btn btn-warning btn-sm' %>
