<h1>Editing Festival</h1>

<%= render 'form', festival: @festival %>

<%= link_to 'Show', @festival,      class: 'btn btn-warning btn-sm' %> |
<%= link_to 'Back', festivals_path, class: 'btn btn-warning btn-sm' %>
