<h1>Editing Instrument</h1>

<%= render 'form', instrument: @instrument %>

<br>

<%= link_to 'Show', @instrument, class: 'btn btn-warning btn-sm' %> |
<%= link_to 'Back', instruments_path, class: 'btn btn-warning btn-sm' %>
