<%# add navigation links to this file %>
<li class='nav-item'><%= link_to 'Home', '/events', class: 'nav-link' %></li>
<li class='nav-item'><%= link_to 'Locations', '/locations', class: 'nav-link' %></li>
<li class='nav-item'><%= link_to 'Musicians', '/musicians', class: 'nav-link' %></li>
<li class='nav-item'><%= link_to 'Event Types', '/types', class: 'nav-link' %></li>
