<%# add navigation links to this file %>

<a href="/festivals/2"			class="list-group-item list-group-item-action bg-light">2019 Festival</a>
<a href="/events"			class="list-group-item list-group-item-action bg-light">Daily Schedule of Events</a>
<a href="/festivals/2/musicians"	class="list-group-item list-group-item-action bg-light">Musicians</a>
<a href="/teams"			class="list-group-item list-group-item-action bg-light">Teams</a>

<a href="#"              class="list-group-item list-group-item-action bg-light">&nbsp;</a>
<a href="/discussions"   class="list-group-item list-group-item-action bg-light">Discussions and Notes</a>
<a href="#"              class="list-group-item list-group-item-action bg-light">&nbsp;</a>

<a href="/sales_reports" class="list-group-item list-group-item-action bg-light">2019 Ticket Counts</a>
<a href="/flights"       class="list-group-item list-group-item-action bg-light">2019 Transportation</a>
<a href="/accomodations" class="list-group-item list-group-item-action bg-light">2019 Accommodations</a>

<a href="#"              class="list-group-item list-group-item-action bg-light"></a>

<%= link_to 'Log Out', destroy_user_session_path, method: :delete, class: "list-group-item list-group-item-action bg-light" %>
