    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading">MCP</div>
      <div class="list-group list-group-flush">
	<%= render 'layouts/navigation_links' %>
      </div>
    </div>
